@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');

body {
    font-family: 'Rajdhani', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    display: flex;
}

.menu {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}

button {
    font-family: 'Rajdhani', sans-serif;
    font-size: larger;
    margin-bottom: 30px;
    padding: 30px;
    background-color: #c299ff;
}

button:hover {
    background-color: #408;
    color: white;
}

.container {
    display: flex;
    flex-grow: 0;
    flex-flow: row wrap;
    width: 550px;
    height: 550px;
    border: 1px solid black;
}

.square {
    flex: 1 1 auto;
}
