body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    flex-grow: 0;
    flex-flow: row wrap;
    width: 550px;
    height: 550px;
    border: 1px solid black;
}

.square {
    flex: 1 1 auto;
    transition: 0s 180s;
}

.square:hover {
    background-color: black;
    transition: 0s;
}
